table{
  table-layout:fixed;
  border-collapse: collapse;
  width:320px;
  height:320px;
}

td{
  text-align: center;
  border:1px solid;
}

button{
  width:100%;
  height:110%;
  font-size:30px;
}

.text{
  text-align:right;
  height:100%;
  width:100%;
  font-size:30px;
  border-color:rgba(255, 255, 255, 0);
}
